<div id="box1">
    <div id="wrapper">
        <div id="content" align="left">
            <a name="content"></a>
            <h3>{{title}}</h3>

            {{#if leftPosition}}
            <div class="content-image left">
                <img src="{{imagePath}}" alt="{{altText}}" />
            </div>
            {{/if}}

            <div class="content-main left">
                {{{description}}}
            </div>

            {{#unless leftPosition}}
            <div class="content-image right">
                <img src="{{imagePath}}" alt="{{altText}}" />
            </div>
            {{/unless}}
        </div><!-- end #content -->
    </div><!-- end #wrapper -->
</div><!-- end #box1 -->
